<%= link_to category do %>

<div id="<%= dom_id category %>">
    <img src="<%=category.icon %>" alt='category icon'/>
    <div>
    <p>
      <%= category.name %>
    </p>

    <p>
      <strong>Sum:</strong>
      <%= category.transactions.sum(:amount) %>
    </p>
  </div>
</div>
<% end %>
