<%= link_to category do %>

  <div id="<%= dom_id category %>", class="category-flex">
    <img src="<%=category.icon %>" alt='category icon', class="icon"/>
   
    <p>
     <strong><%= category.name %></strong>
    </p>

    <p>
      <strong>$<%= category.transactions.sum(:amount)%></strong>
    </p>

  </div>
<% end %>
