<section  class="align-center form-transact" >   
  <%= form_with(model: category) do |form| %>

    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :icon, style: "display: block" %>
      <%= form.text_field :icon %>
    </div>

    <button>
      <%= form.submit :save %>
    </button>
  <% end %>
</section>
