<section class="section-transaction" >
  <div>
   
      <div class="top-nav">
        <p><%= link_to "Back", categories_path%></p>
        <h3>Transactions on <%= @category.name%></h3>
        <p><%= link_to "User", users_path%></p>

      </div>

      <div class="below-nav">
        <p> Total Amount: $
        <%=@category.transactions.sum(:amount) %>
        </p>
        <%= button_to "Delete", @category, method: :delete, class: "delete" %>
      </div>

      </div>
      <% if @transactions.exists? %>
        <div>
          <% @transactions.each do |transaction| %>
          <div> 
              <%= render transaction %>
            </div>
          <% end %>
        </div>
      <% else %>  
      <% end %>
  </div>
  <button class="flex-end">
   <%= link_to "Add Transaction", new_category_transaction_path(@category), class: "add-transaction" %>
  </button>
</section>