<section class=" form-transact" >
  <%= form_with(model: transaction, url: category_transactions_path(@category)) do |form| %>
    <div class="category-select">
      <%= form.label :category_id %>
      <%= form.collection_select :category_id, current_user.categories, :id, :name, prompt: true, class: 'bg-slate-50' %>
    </div>

    <div>
      <%= form.text_field :name, placeholder: "Name", class: "input" %>
    </div>

    <div>
      <%= form.number_field :amount, placeholder: "Amount", class: "input" %>
    </div>

    <button class="save-b">
      <%= form.submit :save, class: "save"%>
    </button>
  <% end %>
</section>
